@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF Pro Display.otf');
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter.otf');
}
body {
    background: static;
}
.p1 {
    font-family: "Inter";
    font-size: 24px;
    text-align: center;
}
.div_select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    font-size: 20px;
    height: 10vh;
    gap: 20%;
}
.div_select select {
    width: 20vw;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.76);
}
.div_programs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5% auto 0 auto;
    width: 80vw;
}
.div_programm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #488084;
    width: 25vw;
    height: 60vh;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    font-family: "SF Pro Display";
    font-size: 30px;
    border-radius: 2rem;
}
.div_programm_div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div_programm_div1 p {
    margin: 0;
}
.div_programm_p1 {
    font-size: 36px;
    color: #488084;
}
.div_programm button {
    background-color: #488084;
    color: #fff;
    padding: 5% 10%;
    border-radius: 1rem;
}
.div_descr1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.div_descr2 {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div_descr2 :first-child {
    width: 10vw;
}
.div_descr1 p {
    margin: 2% 0;
    font-family: "SF Pro Display";
    font-size: 20px;
}
.modal-body-input {
    width: 25vw;
    padding: 1% 2%;
    border-radius: 1rem;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.76);
}