@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF Pro Display.otf');
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter.otf');
}
body {
    background-color: #f0f0f0;
    overflow-x: hidden;
}
.text1 {
    font-family: "SF Pro Display";
    font-size: 64px;
    text-align: center;
}
.text2 {
    font-family: "SF Pro Display";
    font-size: 40px;
    text-align: center;
}
.card_div {
    margin: 0 auto;
    width: 80vw;
    font-family: "SF Pro Display";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div_programm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #488084;
    width: 25vw;
    height: 60vh;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    font-family: "SF Pro Display";
    font-size: 30px;
}
.div_programm_div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div_programm_p1 {
    font-size: 36px;
    color: #488084;
}
.div_programm button {
    background-color: #488084;
    color: #fff;
    padding: 5% 10%;
    border-radius: 1rem;
}
.question_div1 {
    font-family: "SF Pro Display";
    font-size: 36px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    margin-left: 5%;
    margin-top: 5%;
}
.question_div1_text {
    font-family: "SF Pro Display";
    font-size: 24px;
}
.question_div2 {
    font-family: "SF Pro Display";
    font-size: 36px;
    width: 60vw;
    margin: 0 5% 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    background: #fff;
}
.question_div2_text {
    font-family: "SF Pro Display";
    font-size: 24px;
}
.footer1 {
    width: 100vw;
    margin-top: 5%;
    background: #488084;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2.5%;
}
.footer_div1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer_div1 a {
    font-family: "SF Pro Display";
    font-size: 24px;
    color: #fff;
}
.footer_div2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer_div2 p {
    font-family: "SF Pro Display";
    font-size: 18px;
    color: #fff;
}
.footer_div3_text2 {
    font-family: "SF Pro Display";
    font-size: 18px;
    color: #fff;
}
.footer_div3_icon {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.footer_div3_text {
    font-family: "SF Pro Display";
    font-size: 24px;
    color: #fff;
}
