@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF Pro Display.otf');
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter.otf');
}
.div1 {
    background-color: #f0f0f0;
    overflow-x: hidden;
}
.text1 {
    font-family: 'SF Pro Display';
    font-size: 64px;
    color: #488084;
    text-align: center;
}
.question {
    display: flex;
    flex-direction: column;
    gap: 5em;
}
.question_div1 {
    font-family: "SF Pro Display";
    font-size: 36px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    padding-left: 5%;
}
.question_div1_text {
    font-family: "SF Pro Display";
    font-size: 24px;
}
.question_div2 {
    font-family: "SF Pro Display";
    font-size: 36px;
    width: 60vw;
    padding: 0 5%;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
.question_div2_text {
    font-family: "SF Pro Display";
    font-size: 24px;
}
.question_div2_text2 {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.77);
}
.question_div3 {
    display: flex;
    flex-direction: column;
    font-family: "SF Pro Display";
    font-size: 36px;
    background: #fff;
}
.question_div3 p {
    text-align: center;
}
.question_div3_text { 
    width: 100vw;
    font-size: 24px;
}
.question_div3_text ul {
    width: 40vw;
}
.li1 {
    list-style-type: style;
}
.catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
}
.catalog_div1 {
    background-color: #fff;
    padding: 2.5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 2.5rem;
}
.catalog_div1 p {
    font-family: "SF Pro Display";
    font-size: 36px;
}
.catalog_div1 button {
    font-family: "SF Pro Display";
    font-size: 32px;
    color: #fff;
    background-color: #488084;
    padding: 2.5% 20%;
    border-radius: 1rem;
}
.footer1 {
    width: 100vw;
    margin-top: 5%;
    background: #488084;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2.5%;
}
.footer_div1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer_div1 a {
    font-family: "SF Pro Display";
    font-size: 24px;
    color: #fff;
}
.footer_div2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer_div2 p {
    font-family: "SF Pro Display";
    font-size: 18px;
    color: #fff;
}
.footer_div3_text2 {
    font-family: "SF Pro Display";
    font-size: 18px;
    color: #fff;
}
.footer_div3_icon {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.footer_div3_text {
    font-family: "SF Pro Display";
    font-size: 24px;
    color: #fff;
}